<nav class="navbar navbar-light bg-light">
    <a class="nav-item <%= current === 'home' ? 'active' : '' %>" href="/">Home</a>
    <a class="nav-item" href="/login">Login</a>
    <a class="nav-item" href="/">Logout</a>
</nav>